.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movieCard {
  margin: 10px;
  width: 18rem;
}

.poster {
  width: 200px;
  height: 300px;
}

@media only screen and (max-width: 720px) {
 
}

@media only screen and (max-width: 360px) {
  
}