.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movieCard {
  margin: 10px;
  width: 18rem;
}

.poster {
  width: 200px;
  height: 300px;
}

.movie-details {
  display: flex;
  margin: 50px;
  align-items: center;
}

.info {
  padding: 50px;
}

button {
  border: none;
  outline: none;
  background-color: white;
  text-align: left;
}

@media only screen and (max-width: 720px) {
 
}

@media only screen and (max-width: 360px) {
  
}